*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
ul, ol{
    list-style: none;
    padding: 0 !important;
}
/* style */
.search-section{
    flex-grow: 1;
}
.navbar{
    min-height: 70px;
}
.navbar-collapse{
    flex-grow: 0 !important;
}
.fa-bell:before {
    color: #FF8F00;
}
.side-bar-section .side-bar-list{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.side-bar {
    width: 150px;
    max-width: ;
    height: calc(100vh - 58px);
    padding: 35px 25px;
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
    color: white;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.side-bar-section .fa-house{
    padding-right: 15px;
}
.side-bar-section .fa-chart-simple{
    padding-right: 19px;
}
.side-bar-section .fa-signal{
    padding-right: 13px;
}
.side-bar-section .fa-gear{
    padding-right: 21px;
}






@media (max-width: 992px) {
    .display-none{
        display: none;
    }
    .side-bar{
        width: 70px;
    }
}
