*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
ul, ol{
    list-style: none;
    padding: 0 !important;
}
th{
    font-weight: normal;
}
/* style */
.search-section{
    flex-grow: 1;
}
.navbar{
    min-height: 70px;

}
.navbar-collapse{
    flex-grow: 0 !important;
}
.fa-bell:before {
    color: #FF8F00;
}
.side-bar-section .side-bar-list{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.side-bar {
    width: 150px;
    height: calc(100vh - 70px);
    padding: 35px 25px;
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
    color: white;

}
.main-section{
    flex-grow: 1;
    height: calc(100vh - 70px);
    overflow: auto;
}
.main-header{
    background-color: #1B72E8;
    color: white;
    padding: 25px 15px 1px 15px;
}
.bg-header-badge{
    background-color: #165BBA !important;
}
.plus-icon-header{
    display: none !important;
}
.pianoblaze-badge{
    font-size: 12px !important;
}
.prossime-classi-section button{
    width: 30px;
    aspect-ratio: 1/1;
    padding: 0 !important;
}
.prossime-classi-section img{
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 50px;
}
.modal-fullscreen {
    width: 50% !important;
}
.modal-header{
    border: 0 !important;
}
.offcanvas .offcanvas-body button{
    border: 1px solid #DEE2E6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.width-offcanvas-50-100{
    width: 50% !important;
}
.side-bar-section .side-bar button{
    background-color: transparent;
    color: white;
    border-collapse: collapse;
    border: 0;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
}
.side-bar-section .fa-house{
    padding-right: 15px;
}
.side-bar-section .fa-chart-simple{
    padding-right: 19px;
}
.side-bar-section .fa-signal{
    padding-right: 13px;
}
.side-bar-section .fa-gear{
    padding-right: 21px;
}
.side-bar-section .side-bar button:hover{
    background-color: #848F9B;
}
.main-header button:hover{
    background-color: white;
    color: black;
    border: 0;
}
@media (max-width: 991px) {
    .side-bar{
        width: 70px;
    }
    .modal-fullscreen{
        width: 100% !important;
    }
    .width-offcanvas-50-100{
        width: 100% !important;
    }
    
}
@media (max-width: 767px) {
    .display-none-small{
        display: none;
    }
}
